header .nav-link:hover {
  background-color: rgba(81, 67, 217, 0.1);
  color: #5143d9;
}
/* 
header .nav-link {
  border-radius: 8px;
} */

.btn-booking {
  color: #5143d9;
  background-color: rgba(81, 67, 217, 0.1);
}

#search-btn {
  background-color: #5143d9;
  color: white;
  width: 58px;
  height: 58px;
}

#bookingForm i.fa-solid {
  color: #747579;
}

#bookingForm button i.fa-solid {
  color: white;
}

#bookingForm {
  margin-top: -95px;
}

form label {
  top: -15px;
  left: 10px;
}
